/* tglo dot net */

/*
 * universe
 */

body {
   font: normal 400 20px/1.5 'Neutral', sans-serif;
   cursor: default;
}

a {
   text-decoration: none;
}

/*
 * feature: home button
 */

#dot {
   position: fixed;
   top: 0;
   left: 0;
   padding: .3em 0 0 .9em;
   transition: 70ms top linear, 70ms left linear;
}

#dot::before {
   position: fixed;
   top: 0;
   left: 0;
   padding: .2em .4em .4em;
   content: '\2196';
   opacity: 0;
   transition: 100ms opacity linear;
}

#dot:hover {
   top: .75em;
   left: .7em;
}

#dot:hover::before {
   opacity: 1;
}

/*
 * root
 */

#root {
   background-color: #317;
   color: #fff;
}

#root a {
   color: #fff;
}

#root a::after {
   position: absolute;
   padding-left: .2em;
   content: '\2192';
   opacity: 0;
   transition: 70ms padding-left linear, 70ms opacity linear;
}

#root a:hover::after {
   padding-left: .5em;
   opacity: 1;
}

#root a:active {
   opacity: .6;
}

#root #portal {
   display: flex;
   justify-content: center;
   align-items: center;
}

#root #portal #site-title {
   position: relative;
   margin: 0;
   padding: .5em 0;
   font-size: 1em;
   word-spacing: 4px;
}

#root #portal #site-title #greeting {
   position: absolute;
   bottom: 2em;
   left: 1.5em;
   border-radius: .2em;
   padding: .3em .5em .3em .6em;
   opacity: 0;
   background-color: #111;
   font-weight: 400;
   font-size: .8em;
   content: 'hello!';
   pointer-events: none;
   transition: 70ms opacity linear;
}

#root #portal #site-title #greeting::after {
   position: absolute;
   bottom: -8px;
   left: 37%;
   border-left: 8px solid transparent;
   border-right: 8px solid transparent;
   border-top: 8px solid #111;
   content: ' ';
}

#root #portal #site-title:hover #greeting {
   opacity: 1;
   pointer-events: auto;
}

#root #portal #links {
   margin: 0;
   list-style: none;
}

#root #portal #links > * {
   padding: .2em 0;
}

/*
 * about
 */

#about {
   background-color: #111;
   color: #fff;
}

#about a {
   color: #fff;
}

/*
 * rational-sans
 */

#rational-sans {
   background-color: #fff;
   color: #333;
}

#rational-sans a {
   color: #02f;
}

/*
 * viewports
 */

@media (max-width: 500px) {

   #root #portal {
      flex-direction: column;
   }

   #root #portal #links {
      margin-top: 1em;
      border-top: 2px solid #eee;
      padding: 1.5em 2.5em 0 2.5em;
      text-align: center;
   }

}

@media (min-width: 501px) {

   #root #portal {
      flex-direction: row;
   }

   #root #portal #links {
      margin-left: 1.5em;
      border-left: 2px solid #eee;
      padding: .5em 0 .5em 1.5em;
   }

}
