/* tglo dot net */

#root a {
   display: inline-block;
}

#root main {
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 1.6em;
}

#root main #site-title {
   margin: 0;
   font-size: 1em;
   word-spacing: 2px;
}

#root main #links {
   list-style: none;
   border: 0 solid;
}

#root main #links > * {
   margin: .1em 0;
}

@media (max-width: 500px) {

   #root main {
      flex-direction: column;
   }

   #root main #links {
      margin: 1em 0 0 0;
      border-top-width: 6px;
      padding: .8em 2.4em 0 2.4em;
      text-align: center;
   }
}

@media (min-width: 501px) {

   #root main {
      flex-direction: row;
   }

   #root main #links {
      margin: 0 0 0 1em;
      border-left-width: 6px;
      padding: .4em 0 .4em 1em;
   }
}
